header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
}

header>.logo {
  width: 60px;
}

header>.button {
  font-size: 19px;
  font-weight: 600;
  padding: 10px 18px 10px 18px;
}

main.app {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
}

main.app h2 {
  font-size: 30px;
}

main.app h3 {
  font-weight: 500;
  font-size: 17px;
  width: 75%;
}

main.app .box div {
  background-color: var(--light);
  border-radius: 50%;
  width: 41px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.app .box div img{
  width:24px;
}


main.app .box div:last-child {
  margin-left: 10px;
}

.option_list {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 90px;
}

.option {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas:
    ". . . .";
  background-color: var(--light);
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  margin-top: 20px;
  align-items:center;
}

.img_outline img{
  width:35px;
}

.cart{
  width:31px;
}

.img_outline, .img_outline img,.option_price,.option img{
  justify-self:center;
}

.option_text{
  margin-left:10px;
  justify-self:flex-start;
}

.option_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.option_title {
  font-weight: 500;
  font-size: 15px;
}

.option_info {
  font-weight: 500;
  font-size: 11px;
  color: var(--dark2);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color:#e7e7e7;
  border-radius: 15px;
  padding:3px 6px 3px 6px;
  margin-top:5px;
}

.option_info img{
  width:14px;
  margin-right: 4px;
}

.option_price {
  font-size: 19px;
  color: var(--dark1);
}

.option_price>span {
  font-size: 10px;
}

.navbar {
  background-color: var(--light);
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding:15px 0px 10px;
}

.navbar a{
  text-decoration: none;
  display:block;
}

.navbar a img{
  width:37px;
}

.switch-button {
  margin-top:20px;
  font-weight:500;
	 background: var(--light);
	 border-radius: 30px;
	 overflow: hidden;
	 width: 260px;
	 text-align: center;
	 font-size: 14px;
	 letter-spacing: 1px;
	 color: var(--main);
	 position: relative;
	 padding-right: 130px;
}
 .switch-button:before {
	 content: "Listed";
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 right: 0;
	 width: 130px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 z-index: 3;
	 pointer-events: none;
}
 .switch-button-checkbox {
	 cursor: pointer;
	 position: absolute;
	 top: 0;
	 left: 0;
	 bottom: 0;
	 width: 100%;
	 height: 100%;
	 opacity: 0;
	 z-index: 2;
}
 .switch-button-checkbox:checked + .switch-button-label:before {
	 transform: translateX(130px);
	 transition: transform 300ms linear;
}
 .switch-button-checkbox + .switch-button-label {
	 position: relative;
	 padding: 10px 0;
	 display: block;
	 user-select: none;
	 pointer-events: none;
}
 .switch-button-checkbox + .switch-button-label:before {
	 content: "";
	 background: var(--main);
	 opacity: 0.35;
	 height: 100%;
	 width: 100%;
	 position: absolute;
	 left: 0;
	 top: 0;
	 border-radius: 30px;
	 transform: translateX(0);
	 transition: transform 300ms;
}
 .switch-button-checkbox + .switch-button-label .switch-button-label-span {
	 position: relative;
}

#main_account img{
  width: 130px;
}

#account_name{
  font-size: 27px;
}

#main_account h3{
  font-size:16px;
  margin-top:8px;
}

#main_account h4{
  color: rgba(var(--main2),0.9);
  margin-top:10px;
  font-weight:600;
}

.drop_button, .cart_button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor:pointer;
}

.cart_button img, .drop_button img{
  pointer-events: none;
}


.drop_list{
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--main3);
  display:none;
  font-weight:500;
  font-size:15px;
  color:var(--dark1);
  border-radius:15px;
  position: absolute;
  top:30px;
  height:max-content;
  padding:10px;
  z-index:100;
  width:130px;
}

.drop_list a{
    color:var(--dark1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.drop_img{
  width:31px;
}

.drop_list > a:not(:first-child){
      margin-top:10px;
}

.drop_list a img{
  margin-right:10px;
}

.show{
  display:flex;
}
